.container {
  padding: 2% 10%;
  background-color: #efefef;
  color: rgba(0, 0, 0, 0.75);
}

.heading {
  text-align: center;
}

.projectHeading {
  height: 60px;
}

.project {
  background-color: rgba(0, 0, 0, 0.25);
  margin: 2rem 3rem !important;
}

div.iconContainer {
  text-align: center;
}

a.icon {
  color: rgba(0, 0, 0, 0.25);
  padding: 5px 5px 0 5px;
}

a.icon:hover {
  color: rgba(0, 0, 0, 0.75);
}
