.container {
  display: block;
  text-align: center;
  height: 75vh;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  background: rgba(0, 0, 0, 0.5);
}

.parent {
  color: #efefef;
  font-size: large;
  font-weight: bold;
  padding-top: 140px;
  margin-right: 500px;
  justify-content: center;
}

.resume {
  margin: 10px;
}

.nav {
  padding: 20px;
  color: #efefef;
  background-color: rgb(20, 19, 19);
}

.image {
  width: 12rem;
  float: right;
  border-radius: 10%;
  position: relative;
  right: 350px;
  top: 80px;
}
