.profileContainer {
  padding: 20px 120px;
  text-align: center;
  background-color: #efefef;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profileParent h3 {
  font-weight: normal;
}

.profileParent div {
  font-size: 40px;
}

.text {
  font-size: 20px;
}
