.container {
  display: block;
  text-align: center;
  height: 100vh;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  background: #efefef;
}

.parent {
  color: rgba(0, 0, 0, 0.5);
  font-size: large;
  font-weight: bold;
  justify-content: center;
  position: relative;
  margin-top: 200px;
}

.name {
  font-weight: 600;
}

.role {
  font-weight: 600;
}

.resume {
  margin: 10px;
  margin-bottom: 30px;
}

.nav {
  padding: 20px;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.5);
}

li {
  float: right;
  font-weight: 600;
  margin: auto 2rem;
  list-style-type: none;
}

li a {
  color: rgba(0, 0, 0, 0.5);
}

li a:hover {
  color: black;
}

.downicon {
  color: rgba(0, 0, 0, 0.5);
}

.downicon:hover {
  color: rgba(0, 0, 0, 0.75);
}
