.skillsContainer {
  padding: 4rem 4rem;
  background-color: #efefef;
  color: rgba(0, 0, 0, 0.55);
  font-family: "Montserrat", sans-serif;
}

.skillsHeading {
  text-align: center;
}

.skill {
  margin: 2rem 3rem !important;
  text-align: center;
  font-weight: bold;
}

.skillsText {
  font-family: "Merriweather", serif;
  color: rgba(0, 0, 0, 0.55);
}

div.iconContainer {
  text-align: center;
  color: rgba(0, 0, 0, 0.25);
  padding: 5px;
}

@media (max-width: 672px) {
  .skillsContainer {
    padding: 4rem 0rem;
  }

  .skillsHeading {
    margin-bottom: 20px;
  }

  .text {
    font-size: 20px;
    font-weight: bold;
  }
  .box .iconContainer {
    padding: 2px;
    font-size: 10px;
    text-align: center;
    justify-content: center;
  }
  .skill {
    font-size: 12px;
    margin: 7px !important;
    justify-content: center;
    padding: 0 !important;
  }
}
