.container {
  padding: 2rem 4rem;
  background-color: #efefef;
  color: rgba(0, 0, 0, 0.75);
}

.heading {
  text-align: center;
}

.project {
  margin: 2rem 3rem !important;
  text-align: center;
}

div.iconContainer {
  text-align: center;
  color: rgba(0, 0, 0, 0.25);
  padding: 5px 5px 5px 5px;
}
