.container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.icons {
  margin: 10px;
  width: 40px;
}

a {
  text-decoration: none;
  color: #efefef;
}

a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.parent {
  padding: 20px;
}

.details {
  margin: 5px;
}
