.container {
  padding: 4rem 0;
  color: white;
}

.heading {
  text-align: center;
}

.image {
  width: 20rem;
  border-radius: 100%;
}

.img {
  margin: 2rem !important;
}

.details {
  margin: 5rem 1rem 2rem 1rem !important;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
}

.details a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.45);
}

.details a:hover {
  color: black;
}

@media (max-width: 960px) {
  .details {
    margin: 0rem 1rem !important;
    text-align: center;
  }
  .container {
    text-align: center;
    justify-content: center;
  }
}
